@model CreateUserViewModel
@{
    ViewBag.Title = Model.IsNew ? "Add new user" : "Edit user";
}
<form method="post">
    <div>
        <label>User's name</label>
        <input type="text" name="UserName" value=@Model.UserName />
    </div>
    <div>
        <label>E-mail</label>
        <input type="text" name="Email" value=@Model.Email />
    </div>
    <div>
        <label>Role</label>
        <select asp-for="Role" asp-items="ViewBag.AllRoles"></select>
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <div>
        <label>Password</label>
        <input type="text" name="Password" value=@Model.Password />
    </div>
    <input type="submit" value="Add" />
</form>