@model AutoPartsStore.WEB.Models.User.UserViewModel
@{
    ViewBag.Title = "Edit user";
}
<form method="post">
    <div>
        <label>User's name</label>
        <input type="text" name="UserName" value=@Model.UserName />
    </div>
    <div>
        <label>E-mail</label>
        <input type="text" name="Email" value=@Model.Email />
    </div>
    <div>
        <label>Role</label>
        <select asp-for="Role" asp-items="ViewBag.AllRoles"></select>
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <a href="User/ChangePassword/@Model.Id">Change password</a>
    <input type="submit" value="Edit" />
</form>