@model AutoPartsStore.WEB.Models.UserViewModel
@{
    ViewBag.Title = Model.IsNew ? "Добавление нового пользователя" : "Редактирование пользователя";
}
<link href="~/js/Notify/Notify.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<div id="notifications"></div>
<form method="post">
    <div>
        <label>Имя пользователя</label>
        <input type="text" name="UserName" value=@Model.UserName />
    </div>
    <div>
        <label>Почта</label>
        <input type="text" name="Email" value=@Model.Email />
    </div>
    <div>
        <label>Пароль</label>
        <input type="text" name="Password" value=@Model.Password />
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="submit" value=@(Model.IsNew ? "Добавить" : "Изменить") />
</form>

@if (ViewBag.IsFailed) {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/js/Notify/Notify.js"></script>
    <script>Notify('@ViewBag.ErrorMessage', 'danger')</script>
}