@{
    ViewData["Title"] = "Users page";
}
<div class="container">
    <label>User's name</label>
    <input type="text" id="UserName" />
    <label>Email</label>
    <input type="text" id="Email" />
    <button onclick="FilterOut('#userTable')">Filter</button>
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="userTable" class="table table-striped" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Role</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<a class='btn btn-info' href='User/AddUser'>Add new user</a>

@await Html.PartialAsync("DataTable", "UserDataTable")