@model FeatureViewModel
@{
    ViewBag.Title = Model.IsNew ? "New feature" : "Edit feature";
}
<form method="post">
    <div class="mb-3 row">
        <div class="col">
            <label for="Name" class="form-label">Name</label>
        </div>
        <div class="col">
            <input type="text" name="Name" value=@Model.Name class="form-control" />
        </div>
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">@(Model.IsNew ? "Add" : "Edit")</button>
</form>