@model ModelViewModel
@{
    ViewBag.Title = "New model";
}
<form method="post">
    <div>
        <label>Марка</label>
        @Html.DropDownListFor(model => model.BrandId, ViewBag.Brands as SelectList)
    </div>
    <div>
        <label>Тип</label>
        @Html.DropDownListFor(model => model.TypeTransportId, ViewBag.TypesTransport as SelectList)
    </div>
    <div>
        <label>Name</label><br><br>
        <input type="text" name="Name" value=@Model.Name />
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="submit" value="Add model" />
</form>