@{
    ViewData["Title"] = "Model page";
}
<div class="container">
    <div class="row">
        <div class="col">
            <label for="Name" class="form-label">Name</label>
            <input type="text" id="Name" class="form-control" />
        </div>
        <div class="col">
             <label for="BrandId" class="form-label">Brand</label>
            <select id="BrandId" class="form-select">
                <option selected>-----</option>
                @foreach (var brand in ViewBag.Brands) {
                    <option value="@brand.Id">@brand.Name</option>
                }
            </select>
        </div>
        <div class="col">
             <label for="TypeTransportId" class="form-label">Type of transport</label>
            <select id="TypeTransportId" class="form-select">
                <option selected>-----</option>
                @foreach (var typeTransport in ViewBag.TypesTransport) {
                    <option value="@typeTransport.Id">@typeTransport.Name</option>
                }
            </select>
        </div>
        <div class="col">
            <button onclick="FilterOut('#modelTable')" class="btn btn-primary">Filter</button>
        </div>
    </div>

    <br />

    <div style="width:90%; margin:0 auto;">
        <table id="modelTable" class="table table-striped" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Type transport</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<a class="btn btn-primary" href="Model/Add/">Add new</a>

@await Html.PartialAsync("DataTable", "ModelDatatable")