@{
    ViewData["Title"] = "Model page";
}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="modelTable" class="table table-striped" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Type transport</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<a class='btn btn-primary' href='/Model/Add/'>Add new</a>

@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/CreateDataTable.js"></script>
<script src="~/js/modelDatatable.js"></script>
}