@model AutoPartsStore.WEB.Models.BrandViewModel
@{
    ViewBag.Title = "Новая модель";
}
<form method="post">
    <div>
        <label>Название</label><br><br>
        <input type="text" name="Name" value=@Model.Name />
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="submit" value="Добавить модель" />
</form>