@model AutoPartsStore.WEB.Models.BrandViewModel
@{
    ViewBag.Title = Model.IsNew ? "Добавление новой марки" : "Редактирование марки";
}
<form method="post">
    <div>
        <label>Название</label><br>
        <input type="text" name="Name" value=@Model.Name />
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="submit" value=@(Model.IsNew ? "Добавить" : "Изменить") />
</form>