@model AutoPartsStore.WEB.Models.BrandViewModel
@{
    ViewBag.Title = Model.IsNew ? "Редактирование модели" : "Добавление";
}
<form method="post">
    <div>
        <label>Название</label><br>
        <input type="text" name="Name" value=@Model.Name />
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="submit" value="Изменить модель" />
</form>