@{
    ViewData["Title"] = "Brands";
}



<table id="brand-table" class="table table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@Html.ActionLink("Добавить новую марку", "Add", "Brand")

@section Scripts
{
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
}