@{
    ViewData["Title"] = "Home page";
}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="brandTable" class="table table-striped" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts
{
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/CreateDataTable.js"></script>
<script src="~/js/brandDatatable.js"></script>
}